{% extends 'base.html' %}

{% block title %}List of Registers{% endblock %}

{% block body %}

<style type="text/css">
	.informations{
		margin-left: -20%;
	}
</style>

<div class="container">
	<h1 align="center">Registers</h1>



	{% if not registers %}
		<h2 align="center">No record was found</h2>

	{% else %}

		<table class="informations">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Country</th>
					<th>CEP</th>
					<th>Phone</th>
					<th>Gender</th>
					<th>Email</th>
					<th>Birthday</th>
					<th>CPF</th>
				</tr>
			</thead>
			{% for user in registers %}
			<tbody>
				<tr>
					<td>{{user.name}}</td>
					<td>{{user.address}}</td>
					<td>{{user.city}}</td>
					<td>{{user.state}}</td>
					<td>{{user.country}}</td>
					<td>{{user.cep}}</td>
					<td>{{user.phone}}</td>
					<td>{{user.gender}}</td>
					<td>{{user.email}}</td>
					<td>{{user.birthday}}</td>
					<td>{{user.cpf}}</td>
					<td><a class="button" href="{% url 'people:edit_register' id=user.id %}">Change</a></td>
					<td><a class="button" href="{% url 'people:remove_register' id=user.id %}">Remove</a></td>
				</tr>
			</tbody>
			{% endfor %}

		</table>
		
	{% endif %}
	<div class="return" align="center">
		<a class="button button-outline" href="/">Return</a>
	</div>
</div>

{% endblock %}