{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Registration{% endblock %}

{% block body %}

<div class="container" style="width: 500px;">
	<h2 align="center">Register</h2>
	
	{% for field in register_form %}
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
					<label for="field.id_for_label">{{field.label}}</label>
						{{field|add_class:'form-control'}}
				
				{% for error in field.errors %}
					<span class="help-block">{{error}}</span>
				{% endfor %}
	{% endfor %}

		<div class="submit" align="center">
			<button type="submit" class="button">Send</button>	
		</div>

	</form>

	<div class="return" align="center">
		<a class="button button-outline" href="{% url 'people:index' %}">Return</a>
	</div>
</div>

{% endblock %}